/* your styles go here */
p.social a.gplus, .team-member .social a.gplus {
    background-color: #D5AD42;
}

.copyright p.credit a {
    color: rgba(153,153,153, 0.4);
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: -30px;
}