.team-member .social a.skype {
  background-color: #00aded;
}

.intro.image-background {
  background: url('../images/home-page-hero-image.png') center center no-repeat !important;
}

/* your styles go here */
p.social a.gplus, .team-member .social a.gplus {
    background-color: #D5AD42;
}

.center {
  text-align: center;
}

.copyright p.credit a {
    color: rgba(153,153,153, 0.4);
}

.intro a:hover, .intro a:focus {
  bottom: 43px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: -30px;
}

h2.white {
    color: #cbd3db;
}

.image a{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.image:hover a {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.portfolio {
  position: relative;
  overflow: hidden;
}
.portfolio::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.portfolio:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

/*
.portfolio {
  background: #5091da;
}
.portfolio a img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.portfolio:hover a img {
  opacity: .5;
}*/
